body
{
    background-color: gray;
    font-size: x-large;
    font-family: 'Courier New';
    font-weight: 600;
    color: wheat;
}

div
{
    border: 2px solid red;
    border-radius: 50px;
    width: 90%;
    background-color: black;
}

h1
{
    font-family: 'Courier New';
    color: hotpink;
    font-weight: 800;
}

td
{
    padding-left: 40px;
    font-size: x-large;
}

a
{
    color: wheat;
}

a:active
{
    color: red;
}

a:visited
{
    color: wheat;
}

.wrap
{
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 600px)
{
    .wrap
    {
        padding: 0px;
        display: flex;
        justify-content: flex-end;
    }
    td
    {
        padding-left: 0px;
        font-size: xx-small;
    }
}