body
{
    background-color: black;
    color: white;
}

font
{
    font-size: x-large;
    color: white;
}

#home_table
{
    padding:50px;
    text-align: center;
}

#home_page
{
    background-image: url(assets/bg_2_1.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

.sqr
{
    padding: 100px;
}

.b_shadow
{
    box-shadow: 1px 1px 20px yellow;
}

.wrap
{
    display: flex;
    justify-content: flex-end;
}

div.text
{
    padding-left: 50px;
    padding-top: 50px;
}

p.text
{
    text-indent: 120px;
    font-size: x-large;
    color: gray;
}

ul
{
    text-indent: 120px;
    font-size: x-large;
    color: gray;
}

@media screen and (max-width: 600px)
{

}