body
{
    background-color: gray;
    font-size: x-large;
    font-family: 'Courier New';
    font-weight: 600;
    color: wheat;
}

.subject
{
    background-color: black;
    border: 2px solid red;
    border-radius: 50px;
    height: 300px;
    width: 300px;
    align-content: center;
}

.wrap
{
    padding: 20px;
    display: flex;
    justify-content: center;
    gap:75px;
}

.wrap_new
{
    display: none;
}

.b_shadow
{
    box-shadow: 1px 1px 20px dodgerblue;
}

@media screen and (max-width: 1000px)
{
    .wrap
    {
        display: none;
    }
    .wrap_new
    {
        padding: 20px;
        display: flex;
        justify-content: center;
        gap:75px;
    }
}